<div>
    <h2 id="page-heading">
        <span jhiTranslate="jbeebrApp.mySQLConnection.home.title">My SQL Connections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-sql-connection" [routerLink]="['/my-sql-connection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jbeebrApp.mySQLConnection.home.createLabel">
            Create a new My SQL Connection
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mySQLConnections?.length === 0">
        <span jhiTranslate="jbeebrApp.mySQLConnection.home.notFound">No mySQLConnections found</span>
    </div>
    <div class="table-responsive" *ngIf="mySQLConnections?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.hostname">Hostname</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.port">Port</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.dbName">Db Name</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.username">Username</span></th>
            <th scope="col" ><span jhiTranslate="jbeebrApp.mySQLConnection.password">Password</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mySQLConnection of mySQLConnections ;trackBy: trackId">
                <td><a [routerLink]="['/my-sql-connection', mySQLConnection.id, 'view' ]">{{mySQLConnection.id}}</a></td>
                <td>{{mySQLConnection.name}}</td>
                <td>{{mySQLConnection.hostname}}</td>
                <td>{{mySQLConnection.port}}</td>
                <td>{{mySQLConnection.dbName}}</td>
                <td>{{mySQLConnection.username}}</td>
                <td>{{mySQLConnection.password}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/my-sql-connection', mySQLConnection.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/my-sql-connection', mySQLConnection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(mySQLConnection)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
