<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-my-sql-connection-heading" jhiTranslate="jbeebrApp.mySQLConnection.home.createOrEditLabel">Create or edit a My SQL Connection</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.hostname" for="field_hostname">Hostname</label>
                    <input type="text" class="form-control" name="hostname" id="field_hostname"
                           formControlName="hostname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.port" for="field_port">Port</label>
                    <input type="number" class="form-control" name="port" id="field_port"
                           formControlName="port"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.dbName" for="field_dbName">Db Name</label>
                    <input type="text" class="form-control" name="dbName" id="field_dbName"
                           formControlName="dbName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jbeebrApp.mySQLConnection.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
